@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar {
  width: 11px !important;
}
::-webkit-scrollbar-track {
  width: 2px;
  background: #18181b;
  padding: 2px;
}
*::-webkit-scrollbar-thumb {
  background-color: #8257e6;
  border: 2px solid #18181b;
  border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #ccc;
}
